﻿@model ChiefsLMS.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Contact";
}
<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">Contact <strong>Us</strong></h2>
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-2">
                <div class="contact-form">
                    <h2 class="title text-center" id="kingdom-goldred">Get In Touch</h2>
                    <div class="status alert alert-success" style="display: none"></div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group col-md-6 offset-3">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
                            @Html.ValidationMessageFor(x => x.Name)
                        </div>


                            <div class="form-group col-md-6 offset-3">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email" })
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>


                            <div class="form-group col-md-12">
                                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = "Subject" })
                                @Html.ValidationMessageFor(x => x.Subject)
                            </div>

                            <div class="form-group col-md-12">
                                @Html.TextAreaFor(x => x.Message, new
                           {
                               @class = "form-control",
                               placeholder = "Message",
                               id = "message",
                               rows = "8"
                           })
                                @Html.ValidationMessageFor(x => x.Message)
                            </div>

                            <div class="form-group col-lg-12" >
                                <input type="submit" name="submit" class="btn btn-primary" value="Submit" id="kingdom-submit" />
                            </div>
                    }
                    @*<form id="main-contact-form" class="contact-form row" name="contact-form" method="Get" action="#" onsubmit="validateForm(event)">
                            <div class="form-group col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                                <span id="nameVal" class="invalid"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" name="email" class="form-control" placeholder="Email">
                                <span id="emailVal" class="invalid"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" name="subject" class="form-control" placeholder="Subject">
                                <span id="subjectVal" class="invalid"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <textarea name="message" id="message" class="form-control" rows="8" placeholder="Your Message Here"></textarea>
                                <span id="messageVal" class="invalid"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
                            </div>
                        </form>*@
                </div>
            </div>
            @*<div class="col-sm-4">
                <div class="contact-info">
                    <h2 class="title text-center">Contact Info</h2>
                    <address>
                        <p>Centriq Training cStore</p>
                        <p>8700 Stateline Ave</p>
                        <p>Leawood, KS 66206</p>
                        <p>Phone: 913-322-7000</p>
                        <p>Email: info@centriqcstore.com</p>
                    </address>*@
                    @*<div class="social-networks">
                        <h2 class="title text-center">Social Networking</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/CentriqTraining/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/CentriqTraining" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/centriq-foss-training" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.youtube.com/user/CentriqTraining" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#https://plus.google.com/108553092060324883743" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>*@
                @*</div>
            </div>*@
        </div>
    </div>
</div><!--/#contact-page-->


@*<hgroup>
        <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>*@