﻿@model ChiefsLMS.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Contact Confirmation";
}

<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">Contact <strong>Us</strong></h2>
                <div id="gmap" class="contact-map google-maps">
                
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-small-8 offset-1">
                <h2 id="kingdom-goldred" style="text-align:center">Thank you for contacting us, @Model.Name! <br/> We will get back to you ASAP.</h2>
            </div>
            @*<div class="col-sm-4">
                <div class="contact-info">
                    <h2 class="title text-center">Contact Info</h2>
                    <address>
                        <p>Centriq Training cStore</p>
                        <p>8700 Stateline Ave</p>
                        <p>Leawood, KS 66206</p>
                        <p>Phone: 913-322-7000</p>
                        <p>Email: info@centriqcstore.com</p>
                    </address>
                    <div class="social-networks">
                        <h2 class="title text-center">Social Networking</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/CentriqTraining/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/CentriqTraining" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/centriq-foss-training" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.youtube.com/user/CentriqTraining" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#https://plus.google.com/108553092060324883743" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div><!--/#contact-page-->

