﻿@model IEnumerable<ChiefsLMS.DATA.EF.CourseCompletion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@if (User.IsInRole("Admin") || User.IsInRole("Coach"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<table class="table" style="text-align:center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division.DivisionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {

    ChiefsLMS.DATA.EF.ChiefsLMSEntities db = new ChiefsLMS.DATA.EF.ChiefsLMSEntities();

    ChiefsLMS.DATA.EF.UserDetail ud = new ChiefsLMS.DATA.EF.UserDetail();

    ud = db.UserDetails.Where(x => x.UserID == item.UserID).SingleOrDefault();

    <tr>

        <td>
           @ud.FirstName @ud.LastName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division.DivisionName)
        </td>
        <td>
            @string.Format($"{item.DateCompleted:d}")
        </td>
        
        <td>

            @Html.ActionLink("Details", "Details", new { id = item.DivisionCompletionID }) 


            @if (User.IsInRole("Admin") || User.IsInRole("Coach"))
            {
                @:|

                @Html.ActionLink("Edit", "Edit", new { id = item.DivisionCompletionID }) @:|
            
            
                @Html.ActionLink("Delete", "Delete", new { id = item.DivisionCompletionID })
            }
        </td>
    </tr>
}

</table>
