﻿@using Microsoft.AspNet.Identity

@{ 
    ChiefsLMS.DATA.EF.ChiefsLMSEntities db = new ChiefsLMS.DATA.EF.ChiefsLMSEntities();
    ChiefsLMS.DATA.EF.UserDetail ud = new ChiefsLMS.DATA.EF.UserDetail();

    string userid = User.Identity.GetUserId();

    ud = db.UserDetails.Where(x => x.UserID == userid).SingleOrDefault();
}

@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" id="loginInfo">
            <li>
                @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }))*@
                @Html.ActionLink("Hello " + ud.FirstName + " " + ud.LastName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
