﻿@model ChiefsLMS.DATA.EF.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="col-sm-8 offset-2  text-center">
    <h4 id="team-@Model.TeamID">@Model.TeamName</h4>
    <hr />
    <dl class="dl-horizontal" >
        @*<dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.VideoURL)          
             @*<iframe width="420" height="315"
                    src="">

             </iframe>*@
        </dt>

        <dd>
           @*@Html.DisplayFor(model => model.VideoURL)*@
            <iframe width="500" height="350"
                    src="https://www.youtube.com/embed/@Model.VideoURL">

            </iframe>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PdfFileName)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.PdfFileName)*@
            <a href="@Url.Content("~/Content/wines/images/PDF/" + Model.PdfFileName)" target="_blank">Click to View Schedule</a>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division.DivisionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division.DivisionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
