﻿@model IEnumerable<ChiefsLMS.DATA.EF.Team>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Coach"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PdfFileName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Division.DivisionName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td id="boldnames">
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Introduction)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.VideoURL)*@
                <iframe width="420" height="315"
                        src="https://www.youtube.com/embed/@item.VideoURL">
                </iframe>
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.PdfFileName)*@
                
                
                <a href="@Url.Content("~/Content/wines/images/PDF/" + item.PdfFileName)" target="_blank">Click to View Schedule</a>
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Division.DivisionName)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.TeamID })


                @if (User.IsInRole("Admin") || User.IsInRole("Coach"))
                {
                    @:|

                    @Html.ActionLink("Edit", "Edit", new { id = item.TeamID }) @:|


                    @Html.ActionLink("Delete", "Delete", new { id = item.TeamID })
                }
            </td>
        </tr>
    }

</table>
