﻿@model ChiefsLMS.DATA.EF.Division

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div style="text-align:center">
    <h4>Division</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DivisionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DivisionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Coach"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.DivisionID }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
