﻿@model IEnumerable<ChiefsLMS.DATA.EF.Division>

   @{
       ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Coach"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <table class="table" style="text-align:center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DivisionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DivisionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>*@
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.DivisionID })


                    @if (User.IsInRole("Admin") || User.IsInRole("Coach"))
                    {
                        @:|

                        @Html.ActionLink("Edit", "Edit", new { id = item.DivisionID }) @:|


                        @Html.ActionLink("Delete", "Delete", new { id = item.DivisionID })
                    }
                </td>
            </tr>
        }

    </table>
