﻿@model ChiefsLMS.DATA.EF.LessonView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LessonView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateViewed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateViewed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamViewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
