﻿@model IEnumerable<ChiefsLMS.DATA.EF.LessonView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Coach"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table" style="text-align:center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateViewed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {


    ChiefsLMS.DATA.EF.ChiefsLMSEntities db = new ChiefsLMS.DATA.EF.ChiefsLMSEntities();

    ChiefsLMS.DATA.EF.UserDetail ud = new ChiefsLMS.DATA.EF.UserDetail();

    ud = db.UserDetails.Where(x => x.UserID == item.UserID).SingleOrDefault();

    <tr>
        <td>
            @ud.FirstName @ud.LastName
        </td>
        <td>
            @string.Format($"{item.DateViewed:d}")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.TeamName)
        </td>
        <td>

            @Html.ActionLink("Details", "Details", new { id = item.TeamViewID })


            @if (User.IsInRole("Admin") || User.IsInRole("Coach"))
            {
                @:|

                @Html.ActionLink("Edit", "Edit", new { id = item.TeamViewID }) @:|


                @Html.ActionLink("Delete", "Delete", new { id = item.TeamViewID })
            }
        </td>

    </tr>
}

</table>
