﻿.img-chiefs{
    max-width:12.5%;
    height:auto;
}

.navbar-chiefs{
    color:black;
}

#renderbody{
    padding-top:5em;
}


@font-face {
    font-family: arrowhead;
    src: url('../fonts/NflChiefs-56Pj.ttf') format('truetype');
}



#kingdom {
    font-family: arrowhead;
    color: #B21F37;
    letter-spacing: -3px;
    word-spacing: 10px;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
    
}

#kingdom-white {
    font-family: arrowhead;
    color: white;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

#kingdom-gold {
    font-family: arrowhead;
    color: #FCBC12;
    letter-spacing: -3px;
    word-spacing: 10px;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

#kingdom-goldred {
    font-family: arrowhead;
    color: #FCBC12;
    text-shadow: 1px 1px 0 #B21F37,
    -1px 1px 0 #B21F37,
    1px -1px 0 #B21F37,
    -1px -1px 0 #B21F37,
    0px 1px 0 #B21F37,
    0px -1px 0 #B21F37,
    -1px 0px 0 #B21F37,
    1px 0px 0 #B21F37,
    2px 2px 0 #B21F37,
    -2px 2px 0 #B21F37,
    2px -2px 0 #B21F37,
    -2px -2px 0 #B21F37,
    0px 2px 0 #B21F37,
    0px -2px 0 #B21F37,
    -2px 0px 0 #B21F37,
    2px 0px 0 #B21F37,
    1px 2px 0 #B21F37,
    -1px 2px 0 #B21F37,
    1px -2px 0 #B21F37,
    -1px -2px 0 #B21F37,
    2px 1px 0 #B21F37,
    -2px 1px 0 #B21F37,
    2px -1px 0 #B21F37,
    -2px -1px 0 #B21F37;
}

#kingdom-redgold {
    font-family: arrowhead;
    color: #B21F37;
    text-shadow: 1px 1px 0 #FCBC12,
    -1px 1px 0 #FCBC12,
    1px -1px 0 #FCBC12,
    -1px -1px 0 #FCBC12,
    0px 1px 0 #FCBC12,
    0px -1px 0 #FCBC12,
    -1px 0px 0 #FCBC12,
    1px 0px 0 #FCBC12,
    2px 2px 0 #FCBC12,
    -2px 2px 0 #FCBC12,
    2px -2px 0 #FCBC12,
    -2px -2px 0 #FCBC12,
    0px 2px 0 #FCBC12,
    0px -2px 0 #FCBC12,
    -2px 0px 0 #FCBC12,
    2px 0px 0 #FCBC12,
    1px 2px 0 #FCBC12,
    -1px 2px 0 #FCBC12,
    1px -2px 0 #FCBC12,
    -1px -2px 0 #FCBC12,
    2px 1px 0 #FCBC12,
    -2px 1px 0 #FCBC12,
    2px -1px 0 #FCBC12,
    -2px -1px 0 #FCBC12;
    letter-spacing: -3px;
    word-spacing: 10px;
}

#kingdom-button {
    font-size: 2em;
    font-family: arrowhead;
    letter-spacing: -3px;
    word-spacing: 10px;
    color: #B21F37;
    text-shadow: 1px 1px 0 #FCBC12,
    -1px 1px 0 #FCBC12,
    1px -1px 0 #FCBC12,
    -1px -1px 0 #FCBC12,
    0px 1px 0 #FCBC12,
    0px -1px 0 #FCBC12,
    -1px 0px 0 #FCBC12,
    1px 0px 0 #FCBC12,
    2px 2px 0 #FCBC12,
    -2px 2px 0 #FCBC12,
    2px -2px 0 #FCBC12,
    -2px -2px 0 #FCBC12,
    0px 2px 0 #FCBC12,
    0px -2px 0 #FCBC12,
    -2px 0px 0 #FCBC12,
    2px 0px 0 #FCBC12,
    1px 2px 0 #FCBC12,
    -1px 2px 0 #FCBC12,
    1px -2px 0 #FCBC12,
    -1px -2px 0 #FCBC12,
    2px 1px 0 #FCBC12,
    -2px 1px 0 #FCBC12,
    2px -1px 0 #FCBC12,
    -2px -1px 0 #FCBC12;
}

#kingdom-submit {
    font-size: 2em;
    margin-left: 39%;
    font-family: arrowhead;
    letter-spacing: -3px;
    word-spacing: 10px;
    color: #B21F37;
    text-shadow: 1px 1px 0 #FCBC12,
    -1px 1px 0 #FCBC12,
    1px -1px 0 #FCBC12,
    -1px -1px 0 #FCBC12,
    0px 1px 0 #FCBC12,
    0px -1px 0 #FCBC12,
    -1px 0px 0 #FCBC12,
    1px 0px 0 #FCBC12,
    2px 2px 0 #FCBC12,
    -2px 2px 0 #FCBC12,
    2px -2px 0 #FCBC12,
    -2px -2px 0 #FCBC12,
    0px 2px 0 #FCBC12,
    0px -2px 0 #FCBC12,
    -2px 0px 0 #FCBC12,
    2px 0px 0 #FCBC12,
    1px 2px 0 #FCBC12,
    -1px 2px 0 #FCBC12,
    1px -2px 0 #FCBC12,
    -1px -2px 0 #FCBC12,
    2px 1px 0 #FCBC12,
    -2px 1px 0 #FCBC12,
    2px -1px 0 #FCBC12,
    -2px -1px 0 #FCBC12;
}
#kingdom-submit:hover {
    background-color: #fcbc12;
}
.social-icons a:hover {
    background-color: #fcbc12;
}

#team-1 { /*Broncos*/
    font-family: arrowhead;
    color: #FB4F14;
    text-shadow: 1px 1px 0 #002244,
    -1px 1px 0 #002244,
    1px -1px 0 #002244,
    -1px -1px 0 #002244,
    0px 1px 0 #002244,
    0px -1px 0 #002244,
    -1px 0px 0 #002244,
    1px 0px 0 #002244,
    2px 2px 0 #002244,
    -2px 2px 0 #002244,
    2px -2px 0 #002244,
    -2px -2px 0 #002244,
    0px 2px 0 #002244,
    0px -2px 0 #002244,
    -2px 0px 0 #002244,
    2px 0px 0 #002244,
    1px 2px 0 #002244,
    -1px 2px 0 #002244,
    1px -2px 0 #002244,
    -1px -2px 0 #002244,
    2px 1px 0 #002244,
    -2px 1px 0 #002244,
    2px -1px 0 #002244,
    -2px -1px 0 #002244;
}

#team-2{ /*Chiefs*/
        font-family: arrowhead;
    color: #FCBC12;
    text-shadow: 1px 1px 0 #B21F37,
    -1px 1px 0 #B21F37,
    1px -1px 0 #B21F37,
    -1px -1px 0 #B21F37,
    0px 1px 0 #B21F37,
    0px -1px 0 #B21F37,
    -1px 0px 0 #B21F37,
    1px 0px 0 #B21F37,
    2px 2px 0 #B21F37,
    -2px 2px 0 #B21F37,
    2px -2px 0 #B21F37,
    -2px -2px 0 #B21F37,
    0px 2px 0 #B21F37,
    0px -2px 0 #B21F37,
    -2px 0px 0 #B21F37,
    2px 0px 0 #B21F37,
    1px 2px 0 #B21F37,
    -1px 2px 0 #B21F37,
    1px -2px 0 #B21F37,
    -1px -2px 0 #B21F37,
    2px 1px 0 #B21F37,
    -2px 1px 0 #B21F37,
    2px -1px 0 #B21F37,
    -2px -1px 0 #B21F37;
}

#team-3 { /*chargers*/
    font-family: arrowhead;
    color: #FDB515;
    text-shadow: 1px 1px 0 #2072BA,
    -1px 1px 0 #2072BA,
    1px -1px 0 #2072BA,
    -1px -1px 0 #2072BA,
    0px 1px 0 #2072BA,
    0px -1px 0 #2072BA,
    -1px 0px 0 #2072BA,
    1px 0px 0 #2072BA,
    2px 2px 0 #2072BA,
    -2px 2px 0 #2072BA,
    2px -2px 0 #2072BA,
    -2px -2px 0 #2072BA,
    0px 2px 0 #2072BA,
    0px -2px 0 #2072BA,
    -2px 0px 0 #2072BA,
    2px 0px 0 #2072BA,
    1px 2px 0 #2072BA,
    -1px 2px 0 #2072BA,
    1px -2px 0 #2072BA,
    -1px -2px 0 #2072BA,
    2px 1px 0 #2072BA,
    -2px 1px 0 #2072BA,
    2px -1px 0 #2072BA,
    -2px -1px 0 #2072BA;
}

#team-4 { /*Raiders*/
    font-family: arrowhead;
    color: #C4C9CC;
    text-shadow: 1px 1px 0 #000000,
    -1px 1px 0 #000000,
    1px -1px 0 #000000,
    -1px -1px 0 #000000,
    0px 1px 0 #000000,
    0px -1px 0 #000000,
    -1px 0px 0 #000000,
    1px 0px 0 #000000,
    2px 2px 0 #000000,
    -2px 2px 0 #000000,
    2px -2px 0 #000000,
    -2px -2px 0 #000000,
    0px 2px 0 #000000,
    0px -2px 0 #000000,
    -2px 0px 0 #000000,
    2px 0px 0 #000000,
    1px 2px 0 #000000,
    -1px 2px 0 #000000,
    1px -2px 0 #000000,
    -1px -2px 0 #000000,
    2px 1px 0 #000000,
    -2px 1px 0 #000000,
    2px -1px 0 #000000,
    -2px -1px 0 #000000;
}

#team-5{ /*Bills*/
        font-family: arrowhead;
    color: #00338D;
    text-shadow: 1px 1px 0 #C60C30,
    -1px 1px 0 #C60C30,
    1px -1px 0 #C60C30,
    -1px -1px 0 #C60C30,
    0px 1px 0 #C60C30,
    0px -1px 0 #C60C30,
    -1px 0px 0 #C60C30,
    1px 0px 0 #C60C30,
    2px 2px 0 #C60C30,
    -2px 2px 0 #C60C30,
    2px -2px 0 #C60C30,
    -2px -2px 0 #C60C30,
    0px 2px 0 #C60C30,
    0px -2px 0 #C60C30,
    -2px 0px 0 #C60C30,
    2px 0px 0 #C60C30,
    1px 2px 0 #C60C30,
    -1px 2px 0 #C60C30,
    1px -2px 0 #C60C30,
    -1px -2px 0 #C60C30,
    2px 1px 0 #C60C30,
    -2px 1px 0 #C60C30,
    2px -1px 0 #C60C30,
    -2px -1px 0 #C60C30;
}

#team-6{ /*Doplhins*/
        font-family: arrowhead;
    color: #0091A0;
    text-shadow: 1px 1px 0 #FF8500,
    -1px 1px 0 #FF8500,
    1px -1px 0 #FF8500,
    -1px -1px 0 #FF8500,
    0px 1px 0 #FF8500,
    0px -1px 0 #FF8500,
    -1px 0px 0 #FF8500,
    1px 0px 0 #FF8500,
    2px 2px 0 #FF8500,
    -2px 2px 0 #FF8500,
    2px -2px 0 #FF8500,
    -2px -2px 0 #FF8500,
    0px 2px 0 #FF8500,
    0px -2px 0 #FF8500,
    -2px 0px 0 #FF8500,
    2px 0px 0 #FF8500,
    1px 2px 0 #FF8500,
    -1px 2px 0 #FF8500,
    1px -2px 0 #FF8500,
    -1px -2px 0 #FF8500,
    2px 1px 0 #FF8500,
    -2px 1px 0 #FF8500,
    2px -1px 0 #FF8500,
    -2px -1px 0 #FF8500;
}
#team-7{ /*PAtriots*/
        font-family: arrowhead;
    color: #0A2342;
    text-shadow: 1px 1px 0 #C81F32,
    -1px 1px 0 #C81F32,
    1px -1px 0 #C81F32,
    -1px -1px 0 #C81F32,
    0px 1px 0 #C81F32,
    0px -1px 0 #C81F32,
    -1px 0px 0 #C81F32,
    1px 0px 0 #C81F32,
    2px 2px 0 #C81F32,
    -2px 2px 0 #C81F32,
    2px -2px 0 #C81F32,
    -2px -2px 0 #C81F32,
    0px 2px 0 #C81F32,
    0px -2px 0 #C81F32,
    -2px 0px 0 #C81F32,
    2px 0px 0 #C81F32,
    1px 2px 0 #C81F32,
    -1px 2px 0 #C81F32,
    1px -2px 0 #C81F32,
    -1px -2px 0 #C81F32,
    2px 1px 0 #C81F32,
    -2px 1px 0 #C81F32,
    2px -1px 0 #C81F32,
    -2px -1px 0 #C81F32;
}
#team-8{ /*Jets*/
        font-family: arrowhead;
    color: #203731;
    text-shadow: 1px 1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px -1px 0 #FFFFFF,
    0px 1px 0 #FFFFFF,
    0px -1px 0 #FFFFFF,
    -1px 0px 0 #FFFFFF,
    1px 0px 0 #FFFFFF,
    2px 2px 0 #FFFFFF,
    -2px 2px 0 #FFFFFF,
    2px -2px 0 #FFFFFF,
    -2px -2px 0 #FFFFFF,
    0px 2px 0 #FFFFFF,
    0px -2px 0 #FFFFFF,
    -2px 0px 0 #FFFFFF,
    2px 0px 0 #FFFFFF,
    1px 2px 0 #FFFFFF,
    -1px 2px 0 #FFFFFF,
    1px -2px 0 #FFFFFF,
    -1px -2px 0 #FFFFFF,
    2px 1px 0 #FFFFFF,
    -2px 1px 0 #FFFFFF,
    2px -1px 0 #FFFFFF,
    -2px -1px 0 #FFFFFF;
}
#team-9{ /*Ravens*/
        font-family: arrowhead;
    color: #241773;
    text-shadow: 1px 1px 0 #9E7C0C,
    -1px 1px 0 #9E7C0C,
    1px -1px 0 #9E7C0C,
    -1px -1px 0 #9E7C0C,
    0px 1px 0 #9E7C0C,
    0px -1px 0 #9E7C0C,
    -1px 0px 0 #9E7C0C,
    1px 0px 0 #9E7C0C,
    2px 2px 0 #9E7C0C,
    -2px 2px 0 #9E7C0C,
    2px -2px 0 #9E7C0C,
    -2px -2px 0 #9E7C0C,
    0px 2px 0 #9E7C0C,
    0px -2px 0 #9E7C0C,
    -2px 0px 0 #9E7C0C,
    2px 0px 0 #9E7C0C,
    1px 2px 0 #9E7C0C,
    -1px 2px 0 #9E7C0C,
    1px -2px 0 #9E7C0C,
    -1px -2px 0 #9E7C0C,
    2px 1px 0 #9E7C0C,
    -2px 1px 0 #9E7C0C,
    2px -1px 0 #9E7C0C,
    -2px -1px 0 #9E7C0C;
}
#team-10{ /*Bengals*/
        font-family: arrowhead;
    color: #FB4F14;
    text-shadow: 1px 1px 0 #000000,
    -1px 1px 0 #000000,
    1px -1px 0 #000000,
    -1px -1px 0 #000000,
    0px 1px 0 #000000,
    0px -1px 0 #000000,
    -1px 0px 0 #000000,
    1px 0px 0 #000000,
    2px 2px 0 #000000,
    -2px 2px 0 #000000,
    2px -2px 0 #000000,
    -2px -2px 0 #000000,
    0px 2px 0 #000000,
    0px -2px 0 #000000,
    -2px 0px 0 #000000,
    2px 0px 0 #000000,
    1px 2px 0 #000000,
    -1px 2px 0 #000000,
    1px -2px 0 #000000,
    -1px -2px 0 #000000,
    2px 1px 0 #000000,
    -2px 1px 0 #000000,
    2px -1px 0 #000000,
    -2px -1px 0 #000000;
}
#team-11{ /*Browns*/
        font-family: arrowhead;
    color: #22150C;
    text-shadow: 1px 1px 0 #FB4F14,
    -1px 1px 0 #FB4F14,
    1px -1px 0 #FB4F14,
    -1px -1px 0 #FB4F14,
    0px 1px 0 #FB4F14,
    0px -1px 0 #FB4F14,
    -1px 0px 0 #FB4F14,
    1px 0px 0 #FB4F14,
    2px 2px 0 #FB4F14,
    -2px 2px 0 #FB4F14,
    2px -2px 0 #FB4F14,
    -2px -2px 0 #FB4F14,
    0px 2px 0 #FB4F14,
    0px -2px 0 #FB4F14,
    -2px 0px 0 #FB4F14,
    2px 0px 0 #FB4F14,
    1px 2px 0 #FB4F14,
    -1px 2px 0 #FB4F14,
    1px -2px 0 #FB4F14,
    -1px -2px 0 #FB4F14,
    2px 1px 0 #FB4F14,
    -2px 1px 0 #FB4F14,
    2px -1px 0 #FB4F14,
    -2px -1px 0 #FB4F14;
}
#team-12{ /*Steelers*/
        font-family: arrowhead;
    color: #FFC20E;
    text-shadow: 1px 1px 0 #000000,
    -1px 1px 0 #000000,
    1px -1px 0 #000000,
    -1px -1px 0 #000000,
    0px 1px 0 #000000,
    0px -1px 0 #000000,
    -1px 0px 0 #000000,
    1px 0px 0 #000000,
    2px 2px 0 #000000,
    -2px 2px 0 #000000,
    2px -2px 0 #000000,
    -2px -2px 0 #000000,
    0px 2px 0 #000000,
    0px -2px 0 #000000,
    -2px 0px 0 #000000,
    2px 0px 0 #000000,
    1px 2px 0 #000000,
    -1px 2px 0 #000000,
    1px -2px 0 #000000,
    -1px -2px 0 #000000,
    2px 1px 0 #000000,
    -2px 1px 0 #000000,
    2px -1px 0 #000000,
    -2px -1px 0 #000000;
}
#team-13{ /*Texans*/
        font-family: arrowhead;
    color: #00143F;
    text-shadow: 1px 1px 0 #C9243F,
    -1px 1px 0 #C9243F,
    1px -1px 0 #C9243F,
    -1px -1px 0 #C9243F,
    0px 1px 0 #C9243F,
    0px -1px 0 #C9243F,
    -1px 0px 0 #C9243F,
    1px 0px 0 #C9243F,
    2px 2px 0 #C9243F,
    -2px 2px 0 #C9243F,
    2px -2px 0 #C9243F,
    -2px -2px 0 #C9243F,
    0px 2px 0 #C9243F,
    0px -2px 0 #C9243F,
    -2px 0px 0 #C9243F,
    2px 0px 0 #C9243F,
    1px 2px 0 #C9243F,
    -1px 2px 0 #C9243F,
    1px -2px 0 #C9243F,
    -1px -2px 0 #C9243F,
    2px 1px 0 #C9243F,
    -2px 1px 0 #C9243F,
    2px -1px 0 #C9243F,
    -2px -1px 0 #C9243F;
}
#team-14{ /*Colts*/
        font-family: arrowhead;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #003D79,
    -1px 1px 0 #003D79,
    1px -1px 0 #003D79,
    -1px -1px 0 #003D79,
    0px 1px 0 #003D79,
    0px -1px 0 #003D79,
    -1px 0px 0 #003D79,
    1px 0px 0 #003D79,
    2px 2px 0 #003D79,
    -2px 2px 0 #003D79,
    2px -2px 0 #003D79,
    -2px -2px 0 #003D79,
    0px 2px 0 #003D79,
    0px -2px 0 #003D79,
    -2px 0px 0 #003D79,
    2px 0px 0 #003D79,
    1px 2px 0 #003D79,
    -1px 2px 0 #003D79,
    1px -2px 0 #003D79,
    -1px -2px 0 #003D79,
    2px 1px 0 #003D79,
    -2px 1px 0 #003D79,
    2px -1px 0 #003D79,
    -2px -1px 0 #003D79;
}
#team-15{ /*Jaguars*/
        font-family: arrowhead;
    color: #D8A328;
    text-shadow: 1px 1px 0 #136677,
    -1px 1px 0 #136677,
    1px -1px 0 #136677,
    -1px -1px 0 #136677,
    0px 1px 0 #136677,
    0px -1px 0 #136677,
    -1px 0px 0 #136677,
    1px 0px 0 #136677,
    2px 2px 0 #136677,
    -2px 2px 0 #136677,
    2px -2px 0 #136677,
    -2px -2px 0 #136677,
    0px 2px 0 #136677,
    0px -2px 0 #136677,
    -2px 0px 0 #136677,
    2px 0px 0 #136677,
    1px 2px 0 #136677,
    -1px 2px 0 #136677,
    1px -2px 0 #136677,
    -1px -2px 0 #136677,
    2px 1px 0 #136677,
    -2px 1px 0 #136677,
    2px -1px 0 #136677,
    -2px -1px 0 #136677;
}
#team-16{ /*Titans*/
        font-family: arrowhead;
    color: #4095D1;
    text-shadow: 1px 1px 0 #00295B,
    -1px 1px 0 #00295B,
    1px -1px 0 #00295B,
    -1px -1px 0 #00295B,
    0px 1px 0 #00295B,
    0px -1px 0 #00295B,
    -1px 0px 0 #00295B,
    1px 0px 0 #00295B,
    2px 2px 0 #00295B,
    -2px 2px 0 #00295B,
    2px -2px 0 #00295B,
    -2px -2px 0 #00295B,
    0px 2px 0 #00295B,
    0px -2px 0 #00295B,
    -2px 0px 0 #00295B,
    2px 0px 0 #00295B,
    1px 2px 0 #00295B,
    -1px 2px 0 #00295B,
    1px -2px 0 #00295B,
    -1px -2px 0 #00295B,
    2px 1px 0 #00295B,
    -2px 1px 0 #00295B,
    2px -1px 0 #00295B,
    -2px -1px 0 #00295B;
}

#boldnames {
    font-weight: bold;
}

