
.intro-section {
	background-size: cover;
	position: relative;
	background-position: center center;
	&.container .row {
		height: 100vh;
		min-height: 700px;
	}
	
	&:before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		right: 0;
		background: #222;
		opacity: .3;
		border-bottom-right-radius: 0px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}

	h1 {
		font-size: 5rem;
		font-weight: 300;
		color: $white;
		font-family: $font-family-heading;
		font-weight: 900;
		text-transform: uppercase;
		@include media-breakpoint-down(md) {
			font-size: 2rem;
		}
		strong {
			font-weight: 700;
		}
	}
	.sub-title {
		font-family: $font-family-serif;
		color: $white;
		font-size: 1.5rem;
	}
	p {
		color: $white;
		font-size: 1.1rem;
		a {
			color: $white;
			text-decoration: underline;
		}
	}
}




.owl-slide-3, .owl-slide, .owl-style {
	position: relative;
	
	.owl-stage {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.owl-nav {
		
		.owl-prev,
		.owl-next {
			position: absolute;
			top: 50%;		
			text-align: center;
			width: 40px;
			height: 40px;
			transform: translateY(-50%);
			background: $white;
			> span {
				font-size: 1.5rem;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	.owl-dots {
		position: absolute;
		bottom: -0px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		.owl-dot {
			display: inline-block;
			> span {
				border-radius: 0%;
				display: inline-block;
				width: 18px;
				height: 4px;
				margin: 2px 5px;
				background: rgba($black,.2);
			}
			&.active {
				> span {
					background: $primary;
				}
			}
		}
	}
}
.owl-slide {
	.owl-nav {
		display: none;
	}
}

.owl-style {
	@include media-breakpoint-down(md) {
		.owl-nav {
			display: none;
		}
	}
}





#loader {
	position: fixed;
	width: 96px;
	height: 96px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
	border-radius: 16px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
	-o-transition: opacity .2s ease-out, visibility 0s linear .2s;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index: 2000;
  }
  
  #loader.fullscreen {
	padding: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	background-color: #DEDEDE;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
  }
  
  #loader.show {
	-webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
	-o-transition: opacity .4s ease-out, visibility 0s linear 0s;
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
  }
  
  #loader .circular {
	-webkit-animation: loader-rotate 2s linear infinite;
	animation: loader-rotate 2s linear infinite;
	position: absolute;
	left: calc(50% - 24px);
	top: calc(50% - 24px);
	display: block;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  
  #loader .path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	-webkit-animation: loader-dash 1.5s ease-in-out infinite;
	animation: loader-dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
  }
  
  @-webkit-keyframes loader-rotate {
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  @keyframes loader-rotate {
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  @-webkit-keyframes loader-dash {
	0% {
	  stroke-dasharray: 1, 200;
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 89, 200;
	  stroke-dashoffset: -35px;
	}
	100% {
	  stroke-dasharray: 89, 200;
	  stroke-dashoffset: -136px;
	}
  }
  
  @keyframes loader-dash {
	0% {
	  stroke-dasharray: 1, 200;
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 89, 200;
	  stroke-dashoffset: -35px;
	}
	100% {
	  stroke-dasharray: 89, 200;
	  stroke-dashoffset: -136px;
	}
  }


  /*engineers*/
.services-1-wrap {
	
	.service-1 {
		
		padding: 20px 30px;
		border: 1px solid #DEDEDE;
		border-right: none;
		
		position: relative;

		@include media-breakpoint-down(lg) {
			border: 1px solid #DEDEDE;
			margin-bottom: 30px;
		}
		.number {
			position: absolute;
			right: 10px;
			top: 10px;
			font-weight: 400;
			font-family: $font-family-sans-serif;
			color: #dcdcdc;
		}
		.service-1-icon {
			position: relative;
			margin-left: 20px;
			&:before {
				position: absolute;
				content: "";
				transform: rotate(45deg);
				z-index: -1;
				left: -20px;
				border-top: 40px solid transparent;
				border-bottom: 40px solid transparent;
				border-right: 40px solid $primary;
			}
			> span {
				color: $black;
				font-size: 4rem;
			}
		}
		.service-1-content {
			.service-heading {
				font-size: 1.5rem;
				color: $black;
				font-weight: 400;
			}
			p {
				font-size: 15px;
			}
		}
	}
	
	[class^="col-"]:last-child {
		.service-1 {
			border-right: 1px solid #DEDEDE;
		}
	}
	
}

  .header-top {
	  > .container {
			padding-top: 30px;
			padding-bottom: 30px;
	  }

	  .quick-contact-icons {
		  .icon {
			margin-right: 10px;
			span {
				font-size: 40px;
				line-height: 0;
			}
		  }
		  .text {
			.h4 {
				font-size: 1.2rem;
				color: $black;
				margin-bottom: 0;
			}
			.caption-text {
				font-size: 1rem;
			}
		  }
	  }
  }

.block-2 {
	background: #09162a;
	padding: 7rem 0;

	.img-overlap {
		margin-top: -150px;
	}
}
.block-3 {
	background: #09162a;
	padding: 7rem 0;
	margin-bottom: 14rem;
}

.section-title {
	color: $black;
	margin-bottom: 50px;
	h2 {
		font-size: 2rem;
		font-weight: 400;
		position: relative;
		display: inline-block;
		font-family: $font-family-serif;
	}
}
.section-subtitle {
	font-weight: 300;
	color: $primary;
	text-transform: uppercase;
	font-size: 1.3rem;
}


.line-height-0 {
	line-height: 0;
}

.projects-carousel-wrap {
	position: relative;
	margin-bottom: -200px;
}

.project-item {
	position: relative;
	overflow: hidden;
	&:before {
		content: "";
		background: rgba($black, .7);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: 1;
		transition: .3s all ease;
	}
	img {
		transition: .5s all ease;
		transform: scale(1.0);
	}
	.project-item-contents {
		z-index: 9;
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		transition: .3s all ease;
		transform: translateY(100%);
		
		opacity: 0;
		visibility: hidden;
		.project-item-category {
			color: $primary;
			font-family: $font-family-sans-serif;
			text-transform: uppercase;
		}
		.project-item-title {
			color: $white;
			margin-bottom: 0;
		}
	}
	&:hover {
		&:before {
			opacity: 1;
			visibility: visible;
		}
		.project-item-contents {
			transform: translateY(0%);
			opacity: 1;
			visibility: visible;
		}
		img {
			transform: scale(1.2);
		}
	}

}

.form-control {
	&:hover, &:focus, &:active {
		outline: none;
		box-shadow: none;
	}
}

.quote-form-wrap {
	background: #09162a;
	padding: 5rem;
}
.quote-form {
	.form-control {
		border: none;
		padding-left: 0;
		padding-right: 0;
		border-bottom: 2px solid rgba($white, .5);
		border-radius: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		background: transparent;
		color: $white;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: $white;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: $white;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: $white;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: $white;
		}
	}	
	.btn-primary {
		&:hover {
			background: $black;
			border-color: $black;
			color: $white;
		}
	}
}

.person {
	position: relative;
	figure {
		margin-bottom: 0;
		padding-bottom: 0;
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
	}
	img {
		transition: .3s all ease;
	}
	.person-contents {
		text-align: center;
		h3 {
			color: $black;
		}
		.position {
			color: $primary;
		}
	}
	&:hover {
		img {
			transform: scale(1.05);
		}
	}
	.social {
		position: absolute;
		bottom: 10px;
		left: 10px;
		z-index: 2;
		a {
			display: block;
			margin-bottom: 10px;
			width: 40px;
			height: 40px;
			background: $white;
			position: relative;
			> span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				background: $black;
				color: $white;
			}
		}
	}
}

.testimonial {
	img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-bottom: 20px;
	}
	blockquote {
		p {
			font-size: 20px;
			color: $black;
			font-weight: 700;
		}
	}
	.client-name {
		font-family: $font-family-sans-serif;
		text-transform: uppercase;
		font-size: 1.2rem;
		color: $primary;
	}
}

.blog-entry {
	.img-link {
		display: block;
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		img {
			transition: .3s all ease;
		}
		&:hover {
			img {
				transform: scale(1.05);
			}	
		}
		
	}
	.blog-entry-contents {
		h3 {
			line-height: 1;
			a {
				color: $black;
				font-weight: 400;
				font-size: 1.5rem;
			}
		}
		.meta {
			font-size: 1rem;
			&, a {
				color: rgb(176, 176, 176);
			}
			a {
				color: $primary;
			}
		}
	}
}

// sidebar
.sidebar-box {
	margin-bottom: 30px;
	padding: 25px;
	font-size: 15px;
	width: 100%;
	
	float: left;
	
	background: $white;
	*:last-child {
		margin-bottom: 0;
	}
	h3 {
		font-size: 18px;
		margin-bottom: 15px;
	}
}

.categories, .sidelink {
	li {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dotted gray('300');
		list-style: none;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
		a {
			display: block;
			span {
				position: absolute;
				right: 0;
				top: 0;
				color: #ccc;
			}
		}
		&.active {
			a {
				color: $black;
				font-style: italic;
			}
		}
	}
}


.comment-form-wrap {
	clear: both;
}

.comment-list {
	padding: 0;
	margin: 0;
	.children {
		padding: 50px 0 0 40px;
		margin: 0;
		float: left;
		width: 100%;
	}
	li {
		padding: 0;
		margin: 0 0 30px 0;
		float: left;
		width: 100%;
		clear: both;
		list-style: none;
		.vcard {
			width: 80px;
			float: left;
			img {
				width: 50px;
				border-radius: 50%;
			}
		}
		.comment-body {
			float: right;
			width: calc(100% - 80px);
			h3 {
				font-size: 18px;
				color: $black;
			}
			.meta {
				text-transform: uppercase;
				font-size: 13px;
				letter-spacing: .1em;
				color: #ccc;
			}
			.reply {
				padding: 5px 10px;
				background: lighten($black, 90%);
				color: $black;
				text-transform: uppercase;
				font-size: 14px;
				&:hover {
					color: $black;
					background: lighten($black, 89%);
				}
			}
		}
	}
}


.post-meta {
	font-size: .8rem;
	a {
		color: $black;
	}
}

.bio-pic {
	flex:  0 0 40px;
	img {
		max-width: 100%;
		border-radius: 50%;
	}
}





/* For Meranda*/
.date-read {
	color: #b4b4b4;
}
.post-entry-1, .post-entry-2 {
	font-size: 1rem;
	margin-bottom: 30px;
	img {
		margin-bottom: 30px;
	}
	h2 {
		font-family: $font-family-serif;
		font-size: 20px;
		a {
			color: $black;
		}
	}
}

.post-entry-2 {
	font-size: .9rem;
	.thumbnail {
		background-size: cover;
		background-position: center;
		width: 30%;
	}
	.contents{
		width: 70%;	
		padding: 10px 20px;
		h2 {
			font-size: 15px;
		}
	}
}


.trend-entry {
	margin-bottom: 30px;
	.number {
		flex: 0 0 50px;
		font-size: 30px; 
		line-height: 1;
		color: #ccc;
	}
	.trend-contents {
		h2 {
			
			font-size: 18px;
			a {
				color: $black;
			}
		}
	}	
}
.caption {
	font-size: .9rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	&.small {
		font-size: .6rem;
	}
}

.half-post-entry {
	.caption {
		font-size: .9rem;
		text-transform: uppercase;
		letter-spacing: .1rem;
	}
	.img-bg, .contents { 
		width: 50%; 
		@include media-breakpoint-down(md) {
			width: 100%;
			height: 300px;
		}
	}
	.img-bg {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.contents {
		padding: 50px;
		font-size: .9rem;
		height: auto;
		@include media-breakpoint-down(md) {
			padding: 30px;
		}
		h2 {
			font-size: 26px;
			a {
				color: $black;
			}
		}
	}
}

.more {
	color: $primary;
	text-transform: uppercase;
	font-size: .83rem;
}

.custom-pagination {
	padding: 0;
	margin: 0;
	font-size: .89rem;
	color: $black;
	li {
		display: inline-block;
		a {
			padding: 10px 10px;
			display: inline-block;
			color: lighten($black, 70%);
			&:hover {
				color: $black;
			}
		}
		&.active {
			a {
				color: $black;
			}
		}
	}
}
.form-control {
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
	// border-radius: 30px;
	border: none;
	background: #DEDEDE;
	// border-bottom: 1px solid transparent;
	border: 1px solid #ccc;
	&:active, &:focus {
		border-bottom: 1px solid #ccc;
	}
}

.subscribe {
	form {
		.form-control {
			margin-right: 10px;
			height: 50px;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 30px;
			border: none;
			background: #DEDEDE;
			border-bottom: 1px solid transparent;
			border-bottom: 1px solid #ccc;
			&:active, &:focus {
				border-bottom: 1px solid #ccc;
			}
		}
		.btn {
			border-radius: 30px;
			background: $black;
			padding-left: 20px;
			padding-right: 20px;
			border-color: $black;
			&:hover {
				background: $primary;
				border-color: $primary;
			}
		}
		h2 {
			font-size: 1.2rem;
			color: $black;
		}
		p {
			font-size: .9rem;
		}
	}
}
.search-form {
		.form-control {
			margin-right: 10px;
			height: 50px;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 30px;
			border: none;
			background: #DEDEDE;
			border-bottom: 1px solid transparent;
			border-bottom: 1px solid #ccc;
			&:active, &:focus {
				border-bottom: 1px solid #ccc;
			}
		}
		.btn {
			border-radius: 30px;
			background: $black;
			padding-left: 20px;
			padding-right: 20px;
			border-color: $black;
			&:hover {
				background: $primary;
				border-color: $primary;
			}
		}
		h2 {
			font-size: 1.2rem;
			color: $black;
		}
		p {
			font-size: .9rem;
		}
}

.footer {
	font-size: .85rem;
	text-align: center;
	padding: 7rem 0;
	border-top: 1px solid #DEDEDE;
}



.top-social {
	a {
		color: $black;
		&:hover {
			color: #777;
		}
	}
}

.single-content {
	h1 {
		font-size: 2rem;
		color: $black;
	}
}

.single-content {
	font-size: .9rem;
}





// For wines

.wine_v_1 {
	position: relative;
	margin-bottom: 30px;
	&:before {
		content: "";
		background: lighten($secondary, 50%);
		top: 20%;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		z-index: -1;
	}
	.thumbnail {
		position: relative;
		display: block;
	}
	.heading {
		font-size: 18px;
		a {
			color: $black;
		}
	}
	.wine-actions {
		padding-top: 20px;
		padding-bottom: 20px;
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 20px;
		background: $white;
		opacity: 0;
		visibility: hidden;
		transition: .3s all ease;
		.heading-2 {
			font-size: 20px;
			a {
				color: $black;
			}
		}

		.price {
			font-size: 20px;
			color: $primary;
			font-family: $font-family-serif;
			del {
				color: #ccc;
			}
		}



		.rating {
			margin-bottom: 20px;
			span {
				font-size: 16px;
				color: #ffbd39;
			}
		}

		.btn {
			background: $primary;
			color: $white;
			padding: 10px 20px;
			border-radius: 0;
			&:hover {
				background: darken($primary, 10%);
				color: $white;
			}
		}

	}
	&:hover, &:focus {
		.wine-actions {
			opacity: 1;
			visibility: visible;
		}
	}
}

.wine_h_1 {
	@extend .wine_v_1;
}



.hero-2 {
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	background-position: center center;	
	& > .container .row {
		height: 50vh;
		min-height: 500px;
		z-index: 2;
	}
	&:before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		right: 0;
		background: #222;
		opacity: .3;
		border-bottom-right-radius: 0px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;		
	}

	h2 {
		font-size: 5rem;
		font-weight: 300;
		color: $white;
		font-family: $font-family-heading;
		font-weight: 900;
		text-transform: uppercase;
		@include media-breakpoint-down(md) {
			font-size: 2rem;
		}
		strong {
			font-weight: 700;
		}
	}
	.sub-title {
		font-family: $font-family-serif;
		color: $white;
		font-size: 1.5rem;
	}
	p {
		color: $white;
		font-size: 1.1rem;
		a {
			color: $white;
			text-decoration: underline;
		}
	}
}

.testimony {
	font-size: 20px;
	font-family: $font-family-serif;
	text-align: center;
	text-transform: none!important;
	img {
		max-width: auto!important;
		width: 80px!important;
		border: 4px solid $primary;
		margin-bottom: 30px;
		border-radius: 50%;
		margin-left: auto!important;
		margin-right: auto!important;
	}
}

.owl-slide-3-white {
	.owl-dots {
		position: absolute;
		bottom: -40px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		.owl-dot {
			display: inline-block;
			> span {
				border-radius: 0%;
				display: inline-block;
				width: 18px;
				height: 4px;
				margin: 2px 5px;
				background: rgba($white,.3);
			}
			&.active {
				> span {
					background: $white;
				}
			}
		}
	}	
}

.social-icons {
	text-align: center;
	margin-bottom: 50px;
	a {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: $primary;
		color: $white;
		top: 0;
		transition: .3s all ease;
		> span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			background: $black;
			color: $white;
			top: -5px;
		}
	}
	
}

.page-title-wrap {
	h1 {
		color: $white;
		font-style: 4rem;
		font-family: $font-family-serif;
	}
}

.site-blocks-table {
	overflow: auto;
	.product-thumbnail {
		width: 200px;
	}
	thead {
		th {
			padding: 30px;
			text-align: center;
			border-width: 1px!important;
			vertical-align: middle;
			color: $gray-900;
			font-size: 18px;
			font-weight: normal;
		}
	}
	td {
		padding: 20px;
		text-align: center;
		vertical-align: middle;
		color: $gray-900;
	}
	tbody {
		tr {
			&:first-child {
				td {
					border-top: 1px solid $primary!important;
				}
			}
		}
	}
}

.site-block-order-table {
	th {
		border-top: none!important;
		border-bottom-width: 1px!important;
	}
	td, th {
		color: $black;
	}
}

.site-block-top-search {
	position: relative;
	.icon {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	input {
		padding-left: 40px;
		transition: .3s all ease-in-out;
		&:focus, &:active {
			padding-left: 25px;
		}
	}
}

.cart-product-title {
	font-family: $font-family-heading;
}

.block-16 {
	figure {
		position: relative;
		.play-button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 40px;
			width: 90px;
			height: 90px;
			background: $white;
			display: block;
			border-radius: 50%;
			border: none;
			// opacity: .5;
			&:hover {
				opacity: 1;
			}
			> span {
				position: absolute;
				left: 55%;
				top: 50%;
				font-size: 20px!important;
				transform: translate(-50%, -45%);
			}
		}
	}
}

.custom-heading-font {
	font-family: $font-family-heading!important;
}
.font-heading-serif {
	font-family: $font-family-serif!important;
}

.site-blocks-1 {
	border-bottom: 1px solid $gray-4;
	.divider {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			height: 100%;
			width: 1px;
			right: 10px;
			background: $gray-4;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	.icon {
		span {
			position: relative;
			color: $secondary;
			top: -10px;
			font-size: 50px;
			display: inline-block;
		}
	}
	.text {
		h2 {
			color: $gray-1;
			letter-spacing: .05em;
			font-size: 18px;
		}	
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
